* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  width: 100%;
  height: 100%;
  font: 12px 'Open Sans', sans-serif;
}

#wrapper {
  width: 50%;
  height: 560px;
  overflow: hidden;
  margin: 20px auto;
  background: #fff;
  border: 1px solid #c6c6c6;
}

div.screen {
  height: 560px;
  overflow: hidden;
  background: transparent;
  margin: 15px;
}

.list {
  margin-top: 36px;
  text-align: left;
}

.item {
  height: 115px;
  margin-left: 115px;
  clear: both;
}

.item .img,
.item span {
  background: #f0f0f0;
}

.item .img {
  float: left;
  width: 96px;
  height: 81px;
  margin-left: -113px;
}

.item span {
  height: 11px;
  width: 320px;
  margin-bottom: 19px;
  float: left;
}

.item span:nth-of-type(3) {
  width: 95px;
  margin-bottom: 0;
}

a:link {
  color: #ff4500;
  text-decoration: none;
  outline: none;
  transition: all 0.25s;
}

a:visited {
  color: #666;
  text-decoration: none;
}

a:link:hover {
  color: #666;
  text-decoration: none;
}

a:visited:hover {
  color: #ff4500;
  text-decoration: none;
}

.container {
  position: absolute;
  width: 100vw;
  max-width: 110vmin;
  max-height: 100vmin;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.container p {
  text-align: center;
  font-size: 30px;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 100%;
  right: 100%;
}

svg.moko-404 {
  width: 90%;
}
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding: 15px;
}

.notfound .notfound-404 {
  position: relative;
  height: 220px;
}

.notfound .notfound-404 h1 {
  font-family: 'Kanit', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 186px;
  font-weight: 200;
  margin: 0px;
  background: linear-gradient(130deg, #ff6f68,#ff4500);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
}

.notfound h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 33px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 25px;
  letter-spacing: 3px;
}

.notfound p {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 25px;
}

.notfound a {
  font-family: 'Kanit', sans-serif;
  color: #ff4500;
  font-weight: 200;
  text-decoration: none;
  border-bottom: 1px dashed #ff4500;
  border-radius: 2px;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    position: relative;
    height: 168px;
  }

  .notfound .notfound-404 h1 {
    font-size: 142px;
  }

  .notfound h2 {
    font-size: 22px;
  }
}
